.home-header {
  background-color: #38fafd;
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  margin-top: 70px;
}

.samuraimart-delete-submit-button {
  border-radius: 2px;
  color: #ffffff;
  background-color: #d94b0e;
}